@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Rokkitt:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active-link {
    @apply text-[#C0FF0D] px-2 flex flex-col;
  }
  .not-active-link {
    @apply text-[#757575] px-2 flex flex-col;
  }
  .input-details {
    @apply p-1 w-1/2 outline-none rounded-full h-full bg-[#C4C4C4] text-black;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}*/
